<h1>Post#post_created</h1>

Someone created <%= @post.title %>

<p>
  <%= @greeting %>, find me in app/views/post_mailer/post_created.html.erb
</p>
<%= image_tag attachments['ror.png'].url, alt: 'My Photo', class: 'photos', width:100, height:100 %>
